USE [PharmAssist]
GO
/****** Object:  UserDefinedTableType [dbo].[udtDsRxDoseData]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtDsRxDoseData] AS TABLE(
	[OrderId] [varchar](30) NOT NULL,
	[HistoryDtTm] [datetime] NOT NULL,
	[DoseDate] [datetime] NOT NULL,
	[DoseTime] [time](7) NOT NULL,
	[Qty] [decimal](9, 3) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtGovToteGroupingAssignments]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtGovToteGroupingAssignments] AS TABLE(
	[OrderId] [varchar](30) NULL,
	[PouchRollHeaderId] [varchar](20) NULL,
	[FillType] [varchar](1) NULL,
	[Ndc] [varchar](20) NULL,
	[IsCountable] [bit] NULL,
	[VolumeInCubicCm] [decimal](18, 4) NULL,
	[TotalSiblingRxVolumeInCubicCm] [decimal](18, 4) NULL,
	[ToteGroupNum] [tinyint] NULL,
	[IsToteGroupComplete] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtGovToteGroupingPouchPairings]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtGovToteGroupingPouchPairings] AS TABLE(
	[NumOfPouchRolls] [tinyint] NULL,
	[NumOfCountableRxs] [tinyint] NULL,
	[NumOfNonCountableRxs] [tinyint] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtNdcOrDinInvPool]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtNdcOrDinInvPool] AS TABLE(
	[NdcOrDin] [varchar](20) NULL,
	[InvPool] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtOrdaOrderEntryData]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtOrdaOrderEntryData] AS TABLE(
	[OrderId] [varchar](30) NULL,
	[GroupNum] [varchar](10) NULL,
	[RxNum] [varchar](18) NULL,
	[RefillNum] [smallint] NULL,
	[Ndc] [varchar](20) NULL,
	[Qty] [decimal](9, 3) NULL,
	[PriCode] [smallint] NULL,
	[PriInternal] [varchar](40) NULL,
	[RefillsRemaining] [varchar](8) NULL,
	[ExpireDate] [varchar](10) NULL,
	[OrigRxDate] [varchar](10) NULL,
	[Directions] [varchar](2000) NULL,
	[PharmacistInitials] [varchar](4) NULL,
	[StoreNum] [varchar](19) NULL,
	[DurText] [varchar](8000) NULL,
	[Source] [varchar](45) NULL,
	[PlanPickupDtTm] [varchar](22) NULL,
	[DelivMethodCode] [char](1) NULL,
	[PayMethod] [varchar](30) NULL,
	[Comments] [varchar](8000) NULL,
	[ForcedFillType] [varchar](1) NULL,
	[PrevRxNum] [varchar](20) NULL,
	[TrxSource] [char](1) NULL,
	[DateEnteredOvr] [varchar](22) NULL,
	[OprEnteredByOvr] [varchar](256) NULL,
	[OprVerifiedByOvr] [varchar](256) NULL,
	[RxPrice] [varchar](11) NULL,
	[RxCopay] [varchar](11) NULL,
	[StoreCostOvr] [varchar](11) NULL,
	[ThirdPartyPlan] [varchar](20) NULL,
	[IsWaiter] [tinyint] NULL,
	[InvPool] [int] NULL,
	[PharmacyId] [int] NULL,
	[Medication] [varchar](125) NULL,
	[FillType] [varchar](1) NULL,
	[AddrBank] [varchar](2) NULL,
	[ProductId] [varchar](20) NULL,
	[OrigNdc] [varchar](20) NULL,
	[NumOfDispenses] [smallint] NULL,
	[NumOfVials] [int] NULL,
	[PriFillByDtTm] [datetime] NULL,
	[RxEta] [varchar](30) NULL,
	[DateFilledOvr] [varchar](30) NULL,
	[ToteId] [varchar](8) NULL,
	[DaysSupply] [varchar](5) NULL,
	[RequestedShipTypeCode] [varchar](33) NULL,
	[Daw] [char](1) NULL,
	[OrigRefills] [varchar](8) NULL,
	[UserDefData1] [varchar](125) NULL,
	[UserDefData2] [varchar](100) NULL,
	[UserDefData3] [varchar](100) NULL,
	[UserDefData4] [varchar](140) NULL,
	[UserDefData5] [varchar](100) NULL,
	[UserDefData6] [varchar](100) NULL,
	[UserDefData7] [varchar](100) NULL,
	[UserDefData8] [varchar](100) NULL,
	[UserDefData9] [varchar](100) NULL,
	[UserDefData10] [varchar](100) NULL,
	[WebPatientId] [varchar](16) NULL,
	[Uom] [varchar](12) NULL,
	[RequiresCompounding] [varchar](3) NULL,
	[ExtOrderNum] [varchar](30) NULL,
	[PackType] [varchar](8) NULL,
	[QtyRequested] [decimal](9, 3) NULL,
	[NdcAliasCode] [varchar](20) NULL,
	[CostPerPill] [decimal](16, 8) NULL,
	[RxStartDate] [varchar](30) NULL,
	[GroupingCritVal] [varchar](120) NULL,
	[ExtSysRxId] [varchar](30) NULL,
	[ExtSysRxCount] [tinyint] NULL,
	[RequestedFillMethodCode] [char](1) NULL,
	[RequestedFillMethodReason] [varchar](255) NULL,
	[IsNdcChanged] [bit] NULL,
	[PrevFillNdc] [varchar](20) NULL,
	[PaperworkWebLink] [nvarchar](max) NULL,
	[RefillTypeCode] [char](1) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtOrdaPatientCustData]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtOrdaPatientCustData] AS TABLE(
	[CourtesyName] [varchar](15) NULL,
	[FirstName] [varchar](30) NULL,
	[MiddleName] [varchar](20) NULL,
	[LastName] [varchar](30) NULL,
	[CareOf] [varchar](255) NULL,
	[Address1] [varchar](60) NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](16) NULL,
	[Zip] [varchar](10) NULL,
	[PhoneHome] [varchar](25) NULL,
	[PhoneWork] [varchar](25) NULL,
	[DateOfBirth] [varchar](10) NULL,
	[PhoneMobile] [varchar](25) NULL,
	[PhoneCallBack] [varchar](25) NULL,
	[CallBackStatus] [int] NULL,
	[EmailAddr] [varchar](100) NULL,
	[SocSecNum] [varchar](16) NULL,
	[CustomerNum] [varchar](16) NULL,
	[ChargeAcctNum] [varchar](16) NULL,
	[FamilyId] [varchar](120) NULL,
	[PrefSafetyCaps] [tinyint] NULL,
	[PrefLanguage] [varchar](60) NULL,
	[AmountPaid] [smallmoney] NULL,
	[DateOfLastPayment] [datetime2](7) NULL,
	[NeedsReview] [tinyint] NULL,
	[IsMale] [varchar](1) NULL,
	[HasLimitedEyesight] [varchar](1) NULL,
	[LanguageCode] [char](3) NULL,
	[ShipState] [varchar](16) NULL,
	[PrintPaperworkOptCode] [char](1) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtOrdPriorityRanking]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtOrdPriorityRanking] AS TABLE(
	[PreferenceId] [tinyint] NULL,
	[OptionId] [varchar](10) NULL,
	[Precedence] [tinyint] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtSysAppFileVersions]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtSysAppFileVersions] AS TABLE(
	[FileName] [nvarchar](2048) NOT NULL,
	[VersionNumber] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtTableOfVarChars]    Script Date: 4/5/2026 8:56:14 PM ******/
CREATE TYPE [dbo].[udtTableOfVarChars] AS TABLE(
	[Value] [varchar](max) NULL
)
GO
