USE [PharmAssist]
GO
/****** Object:  View [dbo].[vAdHocRxActive]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vAdHocRxActive]
As
--=============================================================================================
-- View vAdHocRxActive
--===========================================================================================================
-- An Ad Hoc query view joining the main Active Rx table (OeOrder) with a conglomeration of related tables.
--===========================================================================================================
Select
   ------------------------------------------------
   -- OeOrder Table Data
   ------------------------------------------------
     O.[OrderId]
   , O.[RxNum]
   , O.[RefillNum]
   , O.[RefillsRemaining]
   , O.[Ndc]
   , O.[Medication]
   , O.[QtyOrdered]
   , O.[PriInternal]
   , O.[StoreNum]
   , O.[FillType]
   , [Status] = O.[OrderStatus]
   , O.[StatusReason]
   , O.[DateEntered]
   , O.[DateFilled]
   , O.[DateVerified]
   , [FilledByUser] = SF.UserName
   , [FiledByFirstName] = SF.FirstName
   , [FilledByLastName] = SF.LastName
   , [VerifiedByUser] = SV.UserName
   , [VerifiedByFirstName] = SV.FirstName
   , [VerifiedByLastName] = SV.LastName
   , O.[SuspenseDtTm]
   , O.[QtyFilled]
   , O.[HistoryDtTm]
   , O.[AddrBank]
   , O.[InvPool]
   , O.[LastStatusChgDtTm]

   ------------------------------------------------
   -- OeOrderSecondaryData Table Data
   ------------------------------------------------
   , O2.[ExpireDate]
   , O2.[OrigRxDate]
   , O2.[PharmacistInitials]
   , O2.[PlanPickUpDtTm]
   , O2.[PaymentStatusCode]
   , O2.[SourceRxId]
   , O2.[DaysSupply]
   , O2.[Daw]
   , O2.[OrigRefills]
   , O2.[UserDefData1]
   , O2.[UserDefData2]
   , O2.[UserDefData3]
   , O2.[UserDefData4]
   , O2.[UserDefData5]
   , O2.[UserDefData6]
   , O2.[UserDefData7]
   , O2.[UserDefData8]
   , O2.[UserDefData9]
   , O2.[UserDefData10]
   , O2.[PrevRxNum]
   , O2.[Uom]
   , O2.[CustomerPrice]
   , O2.[TotalPrice]
   , O2.[ThirdPartyPlan]
   , O2.[CostPerPill]
   , O2.[RxStartDate]
   , O2.[DrugProgramCode]

  ------------------------------------------------
  -- OeOrderExtUserDef Table Data
  ------------------------------------------------
   , UD.[UserDef11]
   , UD.[UserDef12]
   , UD.[UserDef13]
   , UD.[UserDef14]
   , UD.[UserDef15]
   ------------------------------------------------
   -- OePatientCust Table Data
   ------------------------------------------------
   , P.[PatCustId]
   , P.[CourtesyName]
   , P.[FirstName]
   , P.[MiddleName]
   , P.[LastName]
   , P.[DateOfBirth]
   , P.[Address1]
   , P.[Address2]
   , P.[City]
   , P.[State]
   , P.[Zip]
   , P.[PhoneHome]
   , P.[PhoneWork]
   , P.[PhoneMobile]
   , P.[PhoneCallBack]
   , P.[EmailAddr]
   , P.[SocSecNum]
   , P.[CustomerNum]
   , P.[IsMale]

   ------------------------------------------------
   -- OePatientCustSecondaryData Table Data
   ------------------------------------------------
   -- P2.<No columns for this table at this time>,

   ------------------------------------------------
   -- OeGroup Table Data
   ------------------------------------------------
   , [GrpStatus] = G.[Status]
   , [GrpCompletedDtTm] = G.[CompletedDtTm]
   , G.[GroupingCriteriaVal]

   ------------------------------------------------
   -- OePrescriber Table Data
   ------------------------------------------------
   , [DrName] = DR.[Name]
   , DR.[DeaNum]
   , [DrPhoneVoice] = DR.[PhoneVoice]
   , [DrPhoneFax] = DR.[PhoneFax]

   ------------------------------------------------
   -- OrdWillCallBin Table Data
   ------------------------------------------------
   , B.[BinId]
   , B.[InDtTm]

   ------------------------------------------------
   -- OrderToteAssoc Table Data
   ------------------------------------------------
   ,T.[ToteId]

   ------------------------------------------------
   -- OeOrderPoNumAssoc Table Data
   ------------------------------------------------
   ,PO.[PoNum]

   ------------------------------------------------
   -- ShpShipment Table Data
   ------------------------------------------------
   , SH.[CarrierCode]
   , SH.[ServiceCode]
   , SH.[TrackingNum]
   , SH.[ShipDtTm]
   , SH.[ShippingCharge]

   ------------------------------------------------
   -- Pharmacy Table Data
   ------------------------------------------------
   , [PharmacyName] = Ph.[Name]
   , [PharmacyDescription] = Ph.[Description]
From
   OeOrder As O With (NoLock)
   Inner Join OeOrderSecondaryData As O2 With (NoLock)
      On O.OrderId = O2.OrderId 
            And
         O.HistoryDtTm = O2.HistoryDtTm
   Left Join OeOrderExtUserDef As UD With (NoLock)
      On O.OrderId = UD.OrderId 
            And
         O.HistoryDtTm = UD.HistoryDtTm
   Left Join SecUser As SF With (NoLock)
      On O.OprFilledBy = SF.OprId
   Left Join SecUser As SV With (NoLock)
      On O.OprVerifiedBy = SV.OprId
   Inner Join OePatientCust As P With (NoLock)
      On O.PatCustId = P.PatCustId
   Inner Join OeGroup As G With (NoLock)
      On O.GroupNum = G.GroupNum
   Left Join OePrescriber As DR With (NoLock)
      On O.PrescrId = DR.PrescrId
   Left Join OrdWillCallBin As B With (NoLock)
      On O.OrderId = B.OrderId
   Left Join OrderToteAssoc As T With (NoLock)
      On O.OrderId = T.OrderId
   Left Join OeOrderPoNumAssoc As PO With (NoLock)
      On O.OrderId = PO.OrderId
   Left Join OeOrderShipmentAssoc As SA With (NoLock)
      On O.OrderId = SA.OrderId
            And
         O.HistoryDtTm = SA.HistoryDtTm
   Left Join ShpShipment As SH With (NoLock)
      On SA.ShipmentId = SH.Id
   Left Join Pharmacy As Ph With (NoLock)
      On Ph.PharmacyId = O.PharmacyId

GO
/****** Object:  View [dbo].[vAdHocRxHistory]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vAdHocRxHistory]
As
--=============================================================================================
-- View vAdHocRxHistory
--===================================================================================================================
-- An Ad Hoc query view joining the main History Rx table (OeOrderHistory) with a conglomeration of related tables.
--===================================================================================================================
Select
   ------------------------------------------------
   -- OeOrderHistory Table Data
   ------------------------------------------------
     O.[OrderId]
   , O.[RxNum]
   , O.[RefillNum]
   , O.[RefillsRemaining]
   , O.[Ndc]
   , O.[Medication]
   , O.[QtyOrdered]
   , O.[PriInternal]
   , O.[StoreNum]
   , O.[FillType]
   , O.[OrderStatus] As Status
   , O.[StatusReason]
   , O.[DateEntered]
   , O.[DateFilled]
   , O.[DateVerified]
   , SF.UserName As FilledByUser
   , SF.FirstName As FiledByFirstName
   , SF.LastName As FilledByLastName
   , SV.UserName As VerifiedByUser
   , SV.FirstName As VerifiedByFirstName
   , SV.LastName As VerifiedByLastName
   , O.[SuspenseDtTm]
   , O.[QtyFilled]
   , O.[HistoryDtTm]
   , O.[AddrBank]
   , O.[InvPool]
   , O.[LastStatusChgDtTm]

   ------------------------------------------------
   -- OeOrderSecondaryData Table Data
   ------------------------------------------------
   , O2.[ExpireDate]
   , O2.[OrigRxDate]
   , O2.[PharmacistInitials]
   , O2.[PlanPickUpDtTm]
   , O2.[PaymentStatusCode]
   , O2.[SourceRxId]
   , O2.[DaysSupply]
   , O2.[Daw]
   , O2.[OrigRefills]
   , O2.[UserDefData1]
   , O2.[UserDefData2]
   , O2.[UserDefData3]
   , O2.[UserDefData4]
   , O2.[UserDefData5]
   , O2.[UserDefData6]
   , O2.[UserDefData7]
   , O2.[UserDefData8]
   , O2.[UserDefData9]
   , O2.[UserDefData10]
   , O2.[PrevRxNum]
   , O2.[Uom]
   , O2.[CustomerPrice]
   , O2.[TotalPrice]
   , O2.[ThirdPartyPlan]
   , O2.[CostPerPill]
   , O2.[RxStartDate]
   , O2.[DrugProgramCode]

   ------------------------------------------------
   -- OeOrderExtUserDef Table Data
   ------------------------------------------------
   , UD.[UserDef11]
   , UD.[UserDef12]
   , UD.[UserDef13]
   , UD.[UserDef14]
   , UD.[UserDef15]

   ------------------------------------------------
   -- OePatientCust Table Data
   ------------------------------------------------
   , P.[PatCustId]
   , P.[CourtesyName]
   , P.[FirstName]
   , P.[MiddleName]
   , P.[LastName]
   , P.[DateOfBirth]
   , P.[Address1]
   , P.[Address2]
   , P.[City]
   , P.[State]
   , P.[Zip]
   , P.[PhoneHome]
   , P.[PhoneWork]
   , P.[PhoneMobile]
   , P.[PhoneCallBack]
   , P.[EmailAddr]
   , P.[SocSecNum]
   , P.[CustomerNum]
   , P.[IsMale]

   ------------------------------------------------
   -- OePatientCustSecondaryData Table Data
   ------------------------------------------------
   -- P2.<No columns for this table at this time>,

   ------------------------------------------------
   -- OeGroup Table Data
   ------------------------------------------------
   , [GrpStatus] = G.[Status]
   , [GrpCompletedDtTm] = G.[CompletedDtTm]
   , G.[GroupingCriteriaVal]

   ------------------------------------------------
   -- OePrescriber Table Data
   ------------------------------------------------
   , [DrName] = DR.[Name]
   , DR.[DeaNum]
   , [DrPhoneVoice] = DR.[PhoneVoice]
   , [DrPhoneFax] = DR.[PhoneFax]

   ------------------------------------------------
   -- OrdWillCallBin Table Data
   ------------------------------------------------
   , B.[BinId]
   , B.[InDtTm]

   ------------------------------------------------
   -- OrderToteAssoc Table Data
   ------------------------------------------------
   , T.[ToteId]

   ------------------------------------------------
   -- OeOrderPoNumAssoc Table Data
   ------------------------------------------------
   , PO.[PoNum]

   ------------------------------------------------
   -- ShpShipment Table Data
   ------------------------------------------------
   , SH.[CarrierCode]
   , SH.[ServiceCode]
   , SH.[TrackingNum]
   , SH.[ShipDtTm]
   , SH.[ShippingCharge]

   ------------------------------------------------
   -- Pharmacy Table Data
   ------------------------------------------------
   , [PharmacyName] = Ph.[Name]
   , [PharmacyDescription] = Ph.[Description]

From OeOrderHistory As O With (NoLock)
   Join OeOrderSecondaryData As O2 With (NoLock)
      On O.OrderId = O2.OrderId 
            And
         O.HistoryDtTm = O2.HistoryDtTm
   Left Join OeOrderExtUserDef As UD With (NoLock)
      On O.OrderId = UD.OrderId 
            And
         O.HistoryDtTm = UD.HistoryDtTm
   Left Join SecUser As SF With (NoLock)
      On O.OprFilledBy = SF.OprId
   Left Join SecUser As SV With (NoLock)
      On O.OprVerifiedBy = SV.OprId
   Join OePatientCust As P With (NoLock)
      On O.PatCustId = P.PatCustId
   Join OeGroup As G With (NoLock)
      On O.GroupNum = G.GroupNum
   Left Join OePrescriber As DR With (NoLock)
      On O.PrescrId = DR.PrescrId
   Left Join OrdWillCallBin As B With (NoLock)
      On O.OrderId = B.OrderId
   Left Join OrderToteAssoc As T With (NoLock)
      On O.OrderId = T.OrderId
   Left Join OeOrderPoNumAssoc As PO With (NoLock)
      On O.OrderId = PO.OrderId
  Left Join OeOrderShipmentAssoc As SA With (NoLock)
      On O.OrderId = SA.OrderId
            And
         O.HistoryDtTm = SA.HistoryDtTm
   Left Join ShpShipment As SH With (NoLock)
      On SA.ShipmentId = SH.Id 
   Left Join Pharmacy As Ph With (NoLock)
      On Ph.PharmacyId = O.PharmacyId
GO
/****** Object:  View [dbo].[vAdHocRxAll]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vAdHocRxAll]
As
Select *	From vAdHocRxActive
Union
Select *	From vAdHocRxHistory
GO
/****** Object:  View [dbo].[BestRepNdc]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[BestRepNdc] As -- Schema 5.2.2: Added
	Select I.ProductId,
		(
			Select Top 1 Ndc
			From InvItemDist As D With (NoLock), -- Schema 6.1.2: Added hint
				InvPkgType As T With (NoLock),    -- Schema 6.1.2: Added hint
				InvPkgSizeUnit As U With (NoLock) -- Schema 6.1.2: Added hint
			Where D.ProductId = I.ProductId
			And D.PkgTypeCode = T.Code
			And D.PkgSizeUnitCode = U.Code
			Order By IsNull(U.RequiresCounting, 0.5) Desc, 
				T.IndivPkgdContents, 
				Abs(11 - Len(Ndc)), 
				Ndc
		) As RepNdc
	From InvMaster As I With (NoLock)
GO
/****** Object:  View [dbo].[BestRepNdcForPkgSize]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[BestRepNdcForPkgSize] As
	Select ProductId, 
		QtyPerSku, 
		RepNdc
	From (
		Select Distinct I_O.ProductId, 
			D_O.QtyPerSku,
			(
				Select Top 1 Ndc
				From InvItemDist As D_I With (NoLock), -- Schema 6.1.2: Added hint
					InvPkgType As T With (NoLock),      -- Schema 6.1.2: Added hint
					InvPkgSizeUnit As U With (NoLock)   -- Schema 6.1.2: Added hint
				Where D_I.ProductId = I_O.ProductId
				And D_I.QtyPerSku = D_O.QtyPerSku
				And D_I.PkgTypeCode = T.Code
				And D_I.PkgSizeUnitCode = U.Code
				Order By IsNull(U.RequiresCounting, 0.5) Desc, 
					T.IndivPkgdContents, 
					Abs(11 - Len(Ndc)), 
					Ndc
			) As RepNdc
		From InvMaster As I_O With (NoLock), 
			InvItemDist As D_O With (NoLock)
		Where I_O.ProductId = D_O.ProductId
	) As BestRepNdcForProductAndPkgSize
GO
/****** Object:  View [dbo].[vAdHocRxRequest]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vAdHocRxRequest]
As
--==================================================================================================
-- View vAdHocRxRequest
--================================================================================================================
-- An Ad Hoc query view joining the Main Rx Request table (OeRxRequest) with a conglomeratation of related tables.
--================================================================================================================
Select
  ------------------------------------------------
  -- OeRxRequest Table Data
  ------------------------------------------------
  R.[RxNum], R.[RequestDtTm], R.[Status], R.[StatusRsn],
  R.[Din], R.[NdcOrUpc], R.[Medication], R.[Manufacturer], R.[DrugSchedCode], R.[TherapClass],
  R.[LastFillDt], R.[LastFillQty], R.[LastFillDaysSupply], R.[AuthExpDate],
  R.[RefillsRemaining], R.[PrevRxNum], R.[PickUpDtTm], R.[LastStsChgDtTm],
  R.[TypeCode], R.[SourceRxId], R.[SuspenseDtTm], R.[AddrBank],

  ------------------------------------------------
  -- OePatientCust Table Data
  ------------------------------------------------
  P.[PatCustId], P.[CourtesyName], P.[FirstName], P.[MiddleName], P.[LastName], P.[DateOfBirth],
  P.[Address1], P.[Address2], P.[City], P.[State], P.[Zip],
  P.[PhoneHome], P.[PhoneWork], P.[PhoneMobile], P.[PhoneCallBack],
  P.[EmailAddr], P.[SocSecNum], P.[CustomerNum], P.[IsMale],

  ------------------------------------------------
  -- OePatientCustSecondaryData Table Data
  ------------------------------------------------
  -- P2.<No columns for this table at this time>,

  ------------------------------------------------
  -- OeGroup Table Data
  ------------------------------------------------
  G.[Status] As GrpStatus, G.[CompletedDtTm] As GrpCompletedDtTm,
  G.[GroupingCriteriaVal],

  ------------------------------------------------
  -- OePrescriber Table Data
  ------------------------------------------------
  DR.[Name] As DrName, DR.[DeaNum],
  DR.[PhoneVoice] As DrPhoneVoice, DR.[PhoneFax] As DrPhoneFax

From
  OeRxRequest As R With (NoLock)
    Join
  OePatientCust As P With (NoLock)
    On R.PatCustId = P.PatCustId
    Join
  OeGroup As G With (NoLock)
    On R.GroupNum = G.GroupNum
    Left Join
  OePrescriber As DR With (NoLock)
    On R.PrescrId = DR.PrescrId
GO
/****** Object:  View [dbo].[vAdHocRxStatusEvent]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vAdHocRxStatusEvent]
As
--=============================================================================================
-- View vAdHocRxStatusEvent
--===================================================================================================================
-- An Ad Hoc query view of "Rx Status Change" Events (i.e., EvtEvent table rows where Event = 'Rx Status Change').
--===================================================================================================================
Select
	E.EventDtTm,
	E.RxNum As OrderId,
	E.Notes,
	S.UserName, 
	S.FirstName As UserFirstName, 
	S.LastName As UserLastName,
	E.Ndc,
	E.Qty,
	E.TcdSn,
	E.ComputerName,
	E.Results,
	E.TrxId
From
	EvtEvent As E With (NoLock, Index(ByEventDtTm))
		Left Join
	SecUser As S With (NoLock)
		On E.OprId = S.OprId
Where
	E.Event = 'Rx Status Change'
GO
/****** Object:  View [dbo].[vCfgComputerParamVal]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vCfgComputerParamVal]
As
----------------------------------------------------------------------------------------------------
-- View vCfgComputerParamVal
----------------------------------------------------------------------------------------------------
-- A view joining the Computer-specific Configuration Parameter Value table (CfgComputerParamVal)
-- and the Computer-specific Configuration Parameter Definition table (CfgComputerParamDef)
-- where the Value of a Computer Parameter is returned from the "Val" table, if a row exists there,
-- and is returned from the "Def" table's Default (value) if no row exists there.
----------------------------------------------------------------------------------------------------
Select
	C.Computer,
	D.Section,
	D.Parameter,
	IsNull(V.[Value], D.[Default]) As Value
From
	CfgComputer C With (NoLock)
		Cross Join
	CfgComputerParamDef D With (NoLock)
		Left Join
	CfgComputerParamVal V With (NoLock)
		On V.Computer = C.Computer And V.Section = D.Section And V.Parameter = D.Parameter
GO
/****** Object:  View [dbo].[vCfgSystemParamVal]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vCfgSystemParamVal]
As
----------------------------------------------------------------------------------------------------
-- View vCfgSystemParamVal
----------------------------------------------------------------------------------------------------
-- A view joining the System-wide Configuration Parameter Value table (CfgSystemParamVal)
-- and the System-wide Configuration Parameter Definition table (CfgSystemParamDef)
-- where the Value of a System Parameter is returned from the "Val" table, if a row exists there,
-- and is returned from the "Def" table's Default (value) if no row exists there.
----------------------------------------------------------------------------------------------------
Select
	D.Section,
	D.Parameter,
	IsNull(V.[Value], D.[Default]) As Value
From
	CfgSystemParamDef D With (NoLock)
		Left Join
	CfgSystemParamVal V With (NoLock)
		On V.Section = D.Section And V.Parameter = D.Parameter
GO
/****** Object:  View [dbo].[vEvtEvent]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vEvtEvent]
As
------------------------------------------------------------------------------------------------------------------------------------------------------
-- View:
--        vEvtEvent
--
-- Description:
--        A read-only (no lock) view unioning the rows in tables EvtEvent_IntId & EvtEvent.
--
-- Comments:
--        Table EvtEvent_IntId will only exist for a system that lived before HV Schema 17.03.07.  It is the old EvtEvent table renamed.
--        In such a system, this table contains all EvtEvent table content up to the upgrade through HV Schema 17.03.07.
--        Current audit events are logged to table EvtEvent.
--        Therefore, in a system created at or beyond HV Schema 17.03.07, this view is simply a select on table EvtEvent.
--
--        Read access (e.g., Symphony reports) uses this view so that in systems that lived before HV Schema 17.03.07 will access data logged in
--          both the old (EvtEvent_IntId) and new/revised (EvtEvent) tables.
--
------------------------------------------------------------------------------------------------------------------------------------------------------
Select * From EvtEvent With (NoLock)
GO
/****** Object:  View [dbo].[vEvtEventAll]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vEvtEventAll]
As
--=====================================================================================================
-- View vEvtEventAll
--=====================================================================================================
-- A view unioning the rows in tables EvtEvent & EvtDiagEvent.
--=====================================================================================================
	Select *, 
		'A' As EvtType
	From EvtEvent With (NoLock)
Union
	Select *, 
		'D' As EvtType
	From EvtDiagEvent With (NoLock)
GO
/****** Object:  View [dbo].[vImgImage]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vImgImage]
                      As
                      Select * From ImgImage With (NoLock)
                      Union All
                      Select * From ImgImage_IntId With (NoLock)
GO
/****** Object:  View [dbo].[vInvItemDistWithUserOverrides]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vInvItemDistWithUserOverrides]
As
------------------------------------------------------------------------------------------------------
-- A view that queries all columns from table InvItemDist, but joins to table InvItemDistUserOverrides
-- and returns any (non-null) overridden value in place of its (base) InvItemDist column value.
------------------------------------------------------------------------------------------------------
Select
     D.ProductId
   , D.NdcDist
   , D.Ndc
   , [QtyPerSku] = IsNull(DO.QtyPerSku, D.QtyPerSku)
   , D.QtySku
   , D.QtyAct
   , D.LocArea
   , D.LocAisle
   , D.LocSection
   , D.LocShelf
   , D.LocBin
   , D.LocBarcode
   , D.Height
   , D.Barcode
   , D.ReorderNo
   , [PkgTypeCode] = IsNull(DO.PkgTypeCode, D.PkgTypeCode)
   , [PkgSizeUnitCode] = IsNull(DO.PkgSizeUnitCode, D.PkgSizeUnitCode)
   , D.AvgWholesalePrice
   , D.StoreCost
   , [QtyPerSubPkg] = IsNull(DO.QtyPerSubPkg, D.QtyPerSubPkg)
   , D.PkgLength
   , D.PkgWidth
   , D.PkgHeight
   , D.SkuPkgVolume
   , D.SkuPkgVolumeSource
   , [SubpackageNdc] = IsNull(DO.SubpackageNdc, D.SubpackageNdc)
   , D.SubpackageNdcSourceCode
   , D.PkgDataSourceCode
   , [UnitDoseUseCode] = IsNull(DO.UnitDoseUseCode, D.UnitDoseUseCode)
   , D.PkgWeightOz
   , D.QtyReorder
   , D.DaysOnHandMin
   , D.DaysOnHandMax
   , D.DefaultInvOrderQtyWhenInsuffForecastData
   , D.HoldRejectRxAboveCost
   , D.MaxAutoPickVialThreshold
   , D.PcCostThreshold
   , D.PcPctThreshold
From
   InvItemDist D With (NoLock)
      Left Join
   InvItemDistUserOverrides DO With (NoLock)
      On DO.Ndc = D.Ndc


GO
/****** Object:  View [dbo].[vInvMasterWithUserOverrides]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------
-- Perform Change
-----------------
CREATE View [dbo].[vInvMasterWithUserOverrides]
As
--------------------------------------------------------------------------------------------------
-- A view that queries all columns from table InvMaster, but joins to table InvMasterUserOverrides
-- and returns any (non-null) overridden value in place of its (base) InvMaster column value.
--------------------------------------------------------------------------------------------------
Select
	M.ProductId,
	M.FirstNdc,
	IsNull(MO.Markings, M.Markings) As Markings,
	IsNull(MO.GenericName, M.GenericName) As GenericName,
	IsNull(MO.BrandName, M.BrandName) As BrandName,
	IsNull(MO.Strength, M.Strength) As Strength,
	IsNull(MO.Manufacturer, M.Manufacturer) As Manufacturer,
	IsNull(MO.DosageForm, M.DosageForm) As DosageForm,
	IsNull(MO.TherapClassCode, M.TherapClassCode) As TherapClassCode,
	IsNull(MO.Shape, M.Shape) As Shape,
	IsNull(MO.Color, M.Color) As Color,
	IsNull(MO.IsScored, M.IsScored) As IsScored,
	M.QtyShelfAct,
	M.Unused01,
	M.QtyTcdAct,
	M.QtyTcdCommit,
	M.SecAutoDispense,
	M.SecPharmRestock,
	M.SecPharmRestockVerify,
	M.SecPharmReplen,
	M.SecPharmReplenVerify,
	M.SecPharmFill,
	M.SecPharmFillVerify,
	M.QtyPer100cc,
	M.NotifyOnOvercount,
	M.TcIaAssigned,
	M.ReplenishThreshold,
	M.PartialThreshold,
	M.IsCountable,
	IsNull(MO.CrossContaminationCategory, M.CrossContaminationCategory) As CrossContaminationCategory,
	M.CleaningThreshold,
	IsNull(MO.GenericId, M.GenericId) As GenericId,
	IsNull(MO.DeaClassCode, M.DeaClassCode) As DeaClassCode,
	IsNull(MO.StorageCondCode, M.StorageCondCode) As StorageCondCode,
	IsNull(MO.TherapEquivEvalCode, M.TherapEquivEvalCode) As TherapEquivEvalCode,
	M.Unused03,
	M.Unused02,
	M.PrimaryNdc,
	M.DispenseTypeCode,
	M.OvrExpireDays,
	M.MaxFillQty,
	M.DaysOnHandMin,
	M.DaysOnHandMax,
	M.DefaultInvOrderQtyWhenInsuffForecastData,
	M.PreventUseIfExpiresWithinXDays
From
	InvMaster M With (NoLock)
		Left Join
	InvMasterUserOverrides MO With (NoLock)
		On MO.ProductId = M.ProductId
GO
/****** Object:  View [dbo].[vMultiBaggerToteGroup]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     View [dbo].[vMultiBaggerToteGroup]
As
/*
Object Type:
   View

Object Name:
   vMultiBaggerToteGroup

Version:
   1

Description:
   A view joining the CvyMultiBaggerGroupQueue and CvyMultiBaggerVialQueue placing the vial barcodes in a comma seperated list.
*/
SELECT [GroupNum]
      ,[ToteId]
      ,[GroupCount]
      ,[CreationDtTm]
      ,[QueuedDtTm]
      ,[CompletionDtTm]
      ,[PackedByMultiBaggerId]
      ,[LitPrinter]
      ,[LitFileName]
      ,[LitPageCount]
      ,[LabelFileName]
      ,[BagId]
      ,[BagNum]
      ,[TotalBagCount]
      ,[AutoBaggerToteStatusQueueId]
       ,(SELECT STRING_AGG([Barcode], ', ')
         FROM [CvyMultiBaggerVialQueue] with(NoLock)
         WHERE GroupNum = MBGQ.GroupNum and ToteId= MBGQ.ToteId) AS Barcodes
FROM   [CvyMultiBaggerGroupQueue] MBGQ with(NoLock)
GO
/****** Object:  View [dbo].[vMultiBaggerToteGroupWithBottleDetails]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       View [dbo].[vMultiBaggerToteGroupWithBottleDetails]
As
/*
Object Type:
   View

Object Name:
   vMultiBaggerToteGroupWithBottleDetails

Version:
   1

Description:
   A view joining the CvyMultiBaggerGroupQueue and CvyMultiBaggerVialQueue placing the vial barcodes
   in a comma seperated list and each VialSize in Drams seperated by a Semicolon from the barcode.
*/

SELECT [GroupNum]
      ,[ToteId]
      ,[GroupCount]
      ,[CreationDtTm]
      ,[QueuedDtTm]
      ,[CompletionDtTm]
      ,[PackedByMultiBaggerId]
      ,[LitPrinter]
      ,[LitFileName]
      ,[LitPageCount]
      ,[LabelFileName]
      ,[BagId]
      ,[BagNum]
      ,[TotalBagCount]
      ,[AutoBaggerToteStatusQueueId]
       ,(SELECT STRING_AGG(CONCAT(CONCAT([Barcode],';'),[BottleSizeDram]), ', ')
         FROM [CvyMultiBaggerVialQueue] with(NoLock)
         WHERE GroupNum = MBGQ.GroupNum and ToteId= MBGQ.ToteId) AS Barcodes
FROM   [CvyMultiBaggerGroupQueue] MBGQ with(NoLock)
GO
/****** Object:  View [dbo].[vOeOrderHistoryWide]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   View [dbo].[vOeOrderHistoryWide]
As
/*
Object Type:
   View

Object Name:
   vOeOrderHistoryWide

Version:
   4

Description:
   A view joining the main History Rx table (OeOrderHistory) with a conglomeration of related tables.
*/

Select
   ------------------------------------------------
   -- OeOrderHistory Table Data
   ------------------------------------------------
   O.*

   ------------------------------------------------
   -- OeOrderSecondaryData Table Data
   ------------------------------------------------
   , O2.[ExpireDate]
   , O2.[OrigRxDate]
   , O2.[Directions]
   , O2.[PharmacistInitials]
   , O2.[VialSize]
   , O2.[Source]
   , O2.[TrxSource]
   , O2.[RequestedProductId]
   , O2.[PlanPickUpDtTm]
   , O2.[PayMethod]
   , O2.[StoreCost]
   , O2.[CustomerPrice]
   , O2.[TotalPrice]
   , O2.[ThirdPartyPlan]
   , O2.[EtaFromExtSource]
   , O2.[PaymentStatusCode]
   , O2.[SourceRxId]
   , O2.[SourceCheckoutTypeCode]
   , O2.[ChargeInsurance]
   , O2.[DaysSupply]
   , O2.[RequestedShipTypeCode]
   , O2.[Daw]
   , O2.[OrigRefills]
   , O2.[UserDefData1]
   , O2.[UserDefData2]
   , O2.[UserDefData3]
   , O2.[UserDefData4]
   , O2.[UserDefData5]
   , O2.[UserDefData6]
   , O2.[UserDefData7]
   , O2.[UserDefData8]
   , O2.[UserDefData9]
   , O2.[UserDefData10]
   , O2.[PrevRxNum]
   , O2.[WebPatientId]
   , O2.[Uom]
   , O2.[RequiresCompounding]
   , O2.[CostPerPill]
   , O2.[RxStartDate]
   , O2.[DrugProgramCode]
   , O2.[ExtSysRxId]
   , O2.[ExtSysRxCount]
   , O2.[RequestedFillMethodCode]
   , O2.[RequestedFillMethodReason]
   , O2.[IsNdcChanged]
   , O2.[PrevFillNdc]
   , O2.[PaperworkWebLink]

   ------------------------------------------------
   -- OePatientCust Table Data
   ------------------------------------------------
   , P.[CourtesyName]
   , P.[FirstName]
   , P.[MiddleName]
   , P.[LastName]
   , P.[DateOfBirth]
   , P.[Address1]
   , P.[Address2]
   , P.[City]
   , P.[State]
   , P.[Zip]
   , P.[PhoneHome]
   , P.[PhoneWork]
   , P.[LastUsedDtTm]
   , P.[PhoneMobile]
   , P.[PhoneCallBack]
   , P.[EmailAddr]
   , P.[SocSecNum]
   , P.[CustomerNum]
   , P.[ChargeAcctNum]
   , P.[NotifyPatient]
   , P.[CustomerNumSolidified]
   , P.[IsMale]

   ------------------------------------------------
   -- OePatientCustSecondaryData Table Data
   ------------------------------------------------
   , P2.[PrefersSafetyCap]
   , P2.[PreferredLanguage]
   , P2.[NeedsReview]
   , P2.[HasLimitedEyesight]

   ------------------------------------------------
   -- OeGroup Table Data
   ------------------------------------------------
   , [GrpStatus] = G.[Status]
   , [GrpPatCustId] = G.[PatCustId]
   , G.[CompletedDtTm]
   , G.[GroupingCriteriaVal]
   , G.[NumOfRxs]
   , G.[IsWaiter]
   , G.[CustomerPayment]

   ------------------------------------------------
   -- OePrescriber Table Data
   ------------------------------------------------
   , [DrName] = DR.[Name]
   , DR.[DeaNum]
   , [DrAddress1] = DR.[Address1]
   , [DrAddress2] = DR.[Address2]
   , [DrCity] = DR.[City]
   , [DrState] = DR.[State]
   , [DrZip] = DR.[Zip]
   , [DrPhoneVoice] = DR.[PhoneVoice]
   , [DrPhoneFax] = DR.[PhoneFax]
   
   ------------------------------------------------
   -- OeOrderPoNumAssoc Table Data
   ------------------------------------------------
   , PO.[PoNum]

   ------------------------------------------------
   -- OeOrderShipmentAssoc Table Data
   ------------------------------------------------
   , SH.[ShipmentId]

   ------------------------------------------------
   -- CvyRxRoute Table Data
   ------------------------------------------------
   , RT.[CurrLoc]
   , RT.[NextLoc]

   ------------------------------------------------  
   -- OeRequireCorrespondenceRxs Table Data  
   ------------------------------------------------  
   , [RequireCorresp] = Case IsNull(CR.[RxNumOrOrderId], '') When '' Then 0 Else 1 End
 
      ------------------------------------------------  
   -- Pharmacy Table Data  
   ------------------------------------------------  
   , [Pharmacy_Name] = Ph.[Name]
   , [Pharmacy_Description] = Ph.[Description]
   , [Pharmacy_Type] =  Ph.PharmacyTypeCode
   , [Pharmacy_TypeDescription] =  PT.[Description]
   , [Pharmacy_ExtPharmacyId] = Ph.ExtPharmacyId
   , [Pharmacy_InvPool] = Ph.InvPool
   , [Pharmacy_Precedence] = Ph.Precedence
   , [Pharmacy_PharmacyId] = Ph.PharmacyId

From
   OeOrderHistory As O With (NoLock)
      Join
   OeOrderSecondaryData As O2 With (NoLock)
      On O.OrderId = O2.OrderId And O.HistoryDtTm = O2.HistoryDtTm
      Join
   OePatientCust As P With (NoLock)
      On O.PatCustId = P.PatCustId
      Join
   OePatientCustSecondaryData As P2 With (NoLock)
      On P.PatCustId = P2.PatCustId
      Join
   OeGroup As G With (NoLock)
      On O.GroupNum = G.GroupNum
      Left Join
   OePrescriber As DR With (NoLock)
      On O.PrescrId = DR.PrescrId
      Left Join
   OeOrderPoNumAssoc As PO With (NoLock)
      On O.OrderId = PO.OrderId
      Left Join
   OeOrderShipmentAssoc As SH With (NoLock)
      On O.OrderId = SH.OrderId And O.HistoryDtTm = SH.HistoryDtTm
      Left Join
   CvyRxRoute As RT With (NoLock)
      On O.OrderId = RT.OrderId And O.HistoryDtTm = RT.HistoryDtTm
      Left Join
   OeRequireCorrespondenceRxs As CR With (NoLock)
      On O.OrderId = CR.RxNumOrOrderId
      Left Join
   Pharmacy As Ph With (NoLock)
      On O.PharmacyId = Ph.PharmacyId 
      Left Join
   PharmacyType PT With (NoLock)
      On Ph.PharmacyTypeCode = PT.Code

GO
/****** Object:  View [dbo].[vOeOrderWide]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   View [dbo].[vOeOrderWide]
As
/*
Object Type:
   View

Object Name:
   vOeOrderWide

Version:
   4

Description:
   A view joining the main Active Rx table (OeOrder) with a conglomeration of related tables.
*/

Select
   ------------------------------------------------
   -- OeOrder Table Data
   ------------------------------------------------
   O.*
   
   ------------------------------------------------
   -- OeOrderSecondaryData Table Data
   ------------------------------------------------
   , O2.[ExpireDate]
   , O2.[OrigRxDate]
   , O2.[Directions]
   , O2.[PharmacistInitials]
   , O2.[VialSize]
   , O2.[Source]
   , O2.[TrxSource]
   , O2.[RequestedProductId]
   , O2.[PlanPickUpDtTm]
   , O2.[PayMethod]
   , O2.[StoreCost]
   , O2.[CustomerPrice]
   , O2.[TotalPrice]
   , O2.[ThirdPartyPlan]
   , O2.[EtaFromExtSource]
   , O2.[PaymentStatusCode]
   , O2.[SourceRxId]
   , O2.[SourceCheckoutTypeCode]
   , O2.[ChargeInsurance]
   , O2.[DaysSupply]
   , O2.[RequestedShipTypeCode]
   , O2.[Daw]
   , O2.[OrigRefills]
   , O2.[UserDefData1]
   , O2.[UserDefData2]
   , O2.[UserDefData3]
   , O2.[UserDefData4]
   , O2.[UserDefData5]
   , O2.[UserDefData6]
   , O2.[UserDefData7]
   , O2.[UserDefData8]
   , O2.[UserDefData9]
   , O2.[UserDefData10]
   , O2.[PrevRxNum]
   , O2.[WebPatientId]
   , O2.[Uom]
   , O2.[RequiresCompounding]
   , O2.[CostPerPill]
   , O2.[RxStartDate]
   , O2.[DrugProgramCode]
   , O2.[ExtSysRxId]
   , O2.[ExtSysRxCount]
   , O2.[RequestedFillMethodCode]
   , O2.[RequestedFillMethodReason]
   , O2.[IsNdcChanged]
   , O2.[PrevFillNdc]
   , O2.[PaperworkWebLink]
   
   ------------------------------------------------
   -- OePatientCust Table Data
   ------------------------------------------------
   , P.[CourtesyName]
   , P.[FirstName]
   , P.[MiddleName]
   , P.[LastName]
   , P.[DateOfBirth]
   , P.[Address1]
   , P.[Address2]
   , P.[City]
   , P.[State]
   , P.[Zip]
   , P.[PhoneHome]
   , P.[PhoneWork]
   , P.[LastUsedDtTm]
   , P.[PhoneMobile]
   , P.[PhoneCallBack]
   , P.[EmailAddr]
   , P.[SocSecNum]
   , P.[CustomerNum]
   , P.[ChargeAcctNum]
   , P.[NotifyPatient]
   , P.[CustomerNumSolidified]
   , P.[IsMale]
   
   ------------------------------------------------
   -- OePatientCustSecondaryData Table Data
   ------------------------------------------------
   , P2.[PrefersSafetyCap]
   , P2.[PreferredLanguage]
   , P2.[NeedsReview]
   , P2.[HasLimitedEyesight]
   
   ------------------------------------------------
   -- OeGroup Table Data
   ------------------------------------------------
   , [GrpStatus] = G.[Status]
   , [GrpPatCustId] = G.[PatCustId]
   , G.[CompletedDtTm]
   , G.[GroupingCriteriaVal]
   , G.[NumOfRxs]
   , G.[IsWaiter]
   , G.[CustomerPayment]
   
   ------------------------------------------------
   -- OePrescriber Table Data
   ------------------------------------------------
   , [DrName] = DR.[Name]
   , [DeaNum] = DR.[DeaNum]
   , [DrAddress1] = DR.[Address1]
   , [DrAddress2] = DR.[Address2]
   , [DrCity] = DR.[City]
   , [DrState] = DR.[State]
   , [DrZip] = DR.[Zip]
   , [DrPhoneVoice] = DR.[PhoneVoice]
   , [DrPhoneFax] = DR.[PhoneFax]
   
   ------------------------------------------------
   -- OrdWillCallBin Table Data  
   ------------------------------------------------
   , B.[BinId]
   , B.[InDtTm]
   
   ------------------------------------------------
   -- OrderToteAssoc Table Data  
   ------------------------------------------------
   , T.[ToteId]
   
   ------------------------------------------------
   -- OeOrderPoNumAssoc Table Data  
   ------------------------------------------------
   , PO.[PoNum]
   
   ------------------------------------------------
   -- OeOrderShipmentAssoc Table Data  
   ------------------------------------------------
   , SH.[ShipmentId]
   
   ------------------------------------------------
   -- CvyRxRoute Table Data  
   ------------------------------------------------
   , RT.[CurrLoc]
   , RT.[NextLoc]
   
   ------------------------------------------------
   -- OeRequireCorrespondenceRxs Table Data  
   ------------------------------------------------
   , [RequireCorresp] = Case IsNull(CR.[RxNumOrOrderId], '') When '' Then 0 Else 1 End
 
   ------------------------------------------------
   -- Pharmacy Table Data  
   ------------------------------------------------
   , [Pharmacy_Name] = Ph.[Name]
   , [Pharmacy_Description] = Ph.[Description]
   , [Pharmacy_Type] =  Ph.PharmacyTypeCode
   , [Pharmacy_TypeDescription] =  PT.[Description]
   , [Pharmacy_ExtPharmacyId] = Ph.ExtPharmacyId
   , [Pharmacy_InvPool] = Ph.InvPool
   , [Pharmacy_Precedence] = Ph.Precedence
   , [Pharmacy_PharmacyId] = Ph.PharmacyId
   
From
   OeOrder As O With (NoLock)
      Join
   OeOrderSecondaryData As O2 With (NoLock)
      On O.OrderId = O2.OrderId And O.HistoryDtTm = O2.HistoryDtTm
      Join
   OePatientCust As P With (NoLock)
      On O.PatCustId = P.PatCustId
      Join
   OePatientCustSecondaryData As P2 With (NoLock)
      On P.PatCustId = P2.PatCustId
      Join
   OeGroup As G With (NoLock)
      On O.GroupNum = G.GroupNum
      Left Join
   OePrescriber As DR With (NoLock)
      On O.PrescrId = DR.PrescrId
      Left Join
   OrdWillCallBin As B With (NoLock)
      On O.OrderId = B.OrderId
      Left Join
   OrderToteAssoc As T With (NoLock)
      On O.OrderId = T.OrderId
      Left Join
   OeOrderPoNumAssoc As PO With (NoLock)
      On O.OrderId = PO.OrderId
      Left Join
   OeOrderShipmentAssoc As SH With (NoLock)
      On O.OrderId = SH.OrderId And O.HistoryDtTm = SH.HistoryDtTm
      Left Join
   CvyRxRoute As RT With (NoLock)
      On O.OrderId = RT.OrderId And O.HistoryDtTm = RT.HistoryDtTm
      Left Join
   OeRequireCorrespondenceRxs As CR With (NoLock)
      On O.OrderId = CR.RxNumOrOrderId
      Left Join
   Pharmacy As Ph With (NoLock)
      On O.PharmacyId = Ph.PharmacyId
      Left Join
   PharmacyType PT With (NoLock)
      On Ph.PharmacyTypeCode = PT.Code

GO
/****** Object:  View [dbo].[vOePatientCustWide]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vOePatientCustWide]
As
--===================================================================================================
-- View vOePatientCustWide
--===================================================================================================
-- A view joining the Main (OePatientCust) and Secondary (OePatientCustSecondaryData) Patient tables.
--===================================================================================================
Select
  ------------------------------------------------
  -- OePatientCust Table Data
  ------------------------------------------------
  P.*,

  ------------------------------------------------
  -- OePatientCustSecondaryData Table Data
  ------------------------------------------------
  -- Cannot select "P2.*" because PatCustId is in both P & P1 tables.
  --
  P2.[PrefersSafetyCap], P2.[PreferredLanguage], P2.[NeedsReview], P2.[HasLimitedEyesight],
  P2.DiseaseCode, P2.LanguageCode

From OePatientCust As P With (NoLock)
Join OePatientCustSecondaryData As P2 With (NoLock)
	On P.PatCustId = P2.PatCustId
GO
/****** Object:  View [dbo].[vOeRxItemAll]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vOeRxItemAll]
As
Select * From OeRxItem With (NoLock)
Union
Select * From OeRxItemHistory With (NoLock)
GO
/****** Object:  View [dbo].[vOeRxRequestWide]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vOeRxRequestWide]
As
--==================================================================================================
-- View vOeRxRequestWide
--==================================================================================================
-- A view joining the Main Rx Request table (OeRxRequest) with a conglomeratation of related tables.
--==================================================================================================
Select
  ------------------------------------------------
  -- OeRxRequest Table Data
  ------------------------------------------------
  R.*,

  ------------------------------------------------
  -- OePatientCust Table Data
  ------------------------------------------------
  P.[CourtesyName], P.[FirstName], P.[MiddleName], P.[LastName], P.[DateOfBirth],
  P.[Address1], P.[Address2], P.[City], P.[State], P.[Zip],
  P.[PhoneHome], P.[PhoneWork], P.[LastUsedDtTm], P.[PhoneMobile], P.[PhoneCallBack],
  P.[EmailAddr], P.[SocSecNum], P.[CustomerNum], P.[ChargeAcctNum], P.[NotifyPatient],
  P.[CustomerNumSolidified], P.[IsMale],

  ------------------------------------------------
  -- OePatientCustSecondaryData Table Data
  ------------------------------------------------
  P2.[PrefersSafetyCap], P2.[PreferredLanguage], P2.[NeedsReview], P2.[HasLimitedEyesight],

  ------------------------------------------------
  -- OeGroup Table Data
  ------------------------------------------------
  G.[Status] As GrpStatus, G.[PatCustId] As GrpPatCustId, G.[CompletedDtTm],
  G.[GroupingCriteriaVal], G.[NumOfRxs], G.[IsWaiter], G.[CustomerPayment],

  ------------------------------------------------
  -- OePrescriber Table Data
  ------------------------------------------------
  DR.[Name] As DrName, DR.[DeaNum], 
  DR.[Address1] As DrAddress1, DR.[Address2] As DrAddress2, 
  DR.[City] As DrCity, DR.[State] As DrState, DR.[Zip] As DrZip, 
  DR.[PhoneVoice] As DrPhoneVoice, DR.[PhoneFax] As DrPhoneFax,

  ------------------------------------------------
  -- OeRequireCorrespondenceRxs Table Data
  ------------------------------------------------
  Case IsNull(CR.[RxNumOrOrderId], '') When '' Then 0 Else 1 End As RequireCorresp

From
  OeRxRequest As R With (NoLock)
    Join
  OePatientCust As P With (NoLock)
    On R.PatCustId = P.PatCustId
    Join
  OePatientCustSecondaryData As P2 With (NoLock)
    On P.PatCustId = P2.PatCustId
    Join
  OeGroup As G With (NoLock)
    On R.GroupNum = G.GroupNum
    Left Join
  OePrescriber As DR With (NoLock)
    On R.PrescrId = DR.PrescrId
    Left Join
  OeRequireCorrespondenceRxs As CR With (NoLock)
    On R.RxNum = CR.RxNumOrOrderId
GO
/****** Object:  View [dbo].[vOeStatusTrail]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   View [dbo].[vOeStatusTrail]
As
/*
Object Type:
   View

Object Name:
   vOeStatusTrail

Description:
   A read-only (no lock) view combining the rows in tables OeStatusTrail_IntId & OeStatusTrail.

Comments:
   Table OeStatusTrail_IntId will only exist for a system that lived before Fulfillment Schema v17.12.04.
   It is the renamed old OeStatusTrail table with the integer Id column.
   In such a system, this table contains all order status trail content up to the upgrade through Fulfillment Schema v17.12.04.
   Current status trail events are logged to table OeStatusTrail.
   Therefore, in a system created at or beyond Fulfillment Schema v17.12.04, this view is simply a select on table OeStatusTrail.

   Read access (e.g., NEXiA reports) uses this view so that in systems that lived before HV Schema 17.12.04 will access data logged in
     both the old (OeStatusTrail_IntId) and new/revised (OeStatusTrail) tables.
*/
Select * From OeStatusTrail With (NoLock)
Union
Select * From OeStatusTrail_IntId With (NoLock)
GO
/****** Object:  View [dbo].[vOrdVecna_RxHistoryStatusAndDtTm]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vOrdVecna_RxHistoryStatusAndDtTm]
As
Select
  OrderId,
  RxNum As RxNumber,
  RefillNum As RefillNumber,
  Case When OrderStatus Like 'Split%' Then StatusReason Else OrderStatus End As Status,
  HistoryDtTm As CompletedDtTm
From
  OeOrderHistory With (NoLock)
GO
/****** Object:  View [dbo].[vRvoUsedLaneLengthSummary]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vRvoUsedLaneLengthSummary]
As
Select
	L.AddrBank,
	L.Shelf,
	L.Lane,
	L.UsedLengthMm,
	S.LaneLengthMm - L.UsedLengthMm As FreeLengthMm,
	(
		IsNull (
			(
				Select UsedLengthMm
				From RvoLane
				Where AddrBank = L.AddrBank And Shelf = L.Shelf And Lane = L.Lane - 1
			)
		, 0)
    +
		IsNull (
			(
				Select UsedLengthMm
				From RvoLane
				Where AddrBank = L.AddrBank And Shelf = L.Shelf And Lane = L.Lane + 1
			)
    , 0)
	) As NeighboringUsedLaneLengthMm
From RvoLane As L With (NoLock)
Join RvoShelf As S With (NoLock)
	On L.AddrBank = S.AddrBank 
	And L.Shelf = S.Shelf
GO
/****** Object:  View [dbo].[vShpODBC_PoOrderWithBasicPatientAddressAndShipType]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[vShpODBC_PoOrderWithBasicPatientAddressAndShipType]
------------------------------------------------------------------------------------------------------
-- Procedure:
--			vShpODBC_PoOrderWithBasicPatientAddressAndShipType
--			Version 6
--
-- Description:
--			Provides a view to shipping information used by an ODBC shipper to complete a package shipment.
--	
-- Parameters:
--			None
--
-- Return Values:
--			None
--
-- Comments:
--			None
------------------------------------------------------------------------------------------------------
As
Select
	OP.PoNum,
	OP.OrderId,
	SA.Name,
	SA.Address1,
	SA.Address2,
	SA.City,
	SA.State,
	SA.Zip,
	SA.Phone,
	P.PhoneMobile,
	S.CarrierCode As Carrier,
	S.ServiceCode As Service,
	SS.ExtSysCode As DeliveryConfirmation, 
	P.EmailAddr,
	O.StoreNum,
	OTP.PlanCode,
	OS.CustomerPrice,
	OS.PlanPickUpDtTm As PromiseDtTm,
	OGD.UserDef01 As GroupUserDef01,
	OGD.UserDef02 As GroupUserDef02,
	OGD.UserDef03 As GroupUserDef03,
	OGD.UserDef04 As GroupUserDef04,
	OGD.UserDef05 As GroupUserDef05,
	OGD.UserDef06 As GroupUserDef06,
	OGD.UserDef07 As GroupUserDef07,
	OGD.UserDef08 As GroupUserDef08,
	OGD.UserDef09 As GroupUserDef09,
	OGD.UserDef10 As GroupUserDef10,
	OGD.UserDef11 As GroupUserDef11,
	OGD.UserDef12 As GroupUserDef12,
	OGD.UserDef13 As GroupUserDef13,
	OGD.UserDef14 As GroupUserDef14,
	OGD.UserDef15 As GroupUserDef15,
	OGD.UserDef16 As GroupUserDef16,
	OGD.UserDef17 As GroupUserDef17,
	OGD.UserDef18 As GroupUserDef18,
	OGD.UserDef19 As GroupUserDef19,
	OGD.UserDef20 As GroupUserDef20,
	OGD.UserDef21 As GroupUserDef21,
	OGD.UserDef22 As GroupUserDef22,
	OGD.UserDef23 As GroupUserDef23,
	OGD.UserDef24 As GroupUserDef24,
	OGD.UserDef25 As GroupUserDef25,
	OGD.UserDef26 As GroupUserDef26,
	OGD.UserDef27 As GroupUserDef27,
	OGD.UserDef28 As GroupUserDef28,
	OGD.UserDef29 As GroupUserDef29,
	OGD.UserDef30 As GroupUserDef30,
	OS.UserDefData1 As RxUserDef01,
	OS.UserDefData2 As RxUserDef02,
	OS.UserDefData3 As RxUserDef03,
	OS.UserDefData4 As RxUserDef04,
	OS.UserDefData5 As RxUserDef05,
	OS.UserDefData6 As RxUserDef06,
	OS.UserDefData7 As RxUserDef07,
	OS.UserDefData8 As RxUserDef08,
	OS.UserDefData9 As RxUserDef09,
	OS.UserDefData10 As RxUserDef10,
	OX.UserDef11 As RxUserDef11,
	OX.UserDef12 As RxUserDef12,
	OX.UserDef13 As RxUserDef13,
	OX.UserDef14 As RxUserDef14,
	OX.UserDef15 As RxUserDef15,
	OX.UserDef16 As RxUserDef16,
	OX.UserDef17 As RxUserDef17,
	OX.UserDef18 As RxUserDef18,
	OX.UserDef19 As RxUserDef19,
	OX.UserDef20 As RxUserDef20,
	OX.UserDef21 As RxUserDef21,
	OX.UserDef22 As RxUserDef22,
	OX.UserDef23 As RxUserDef23,
	OX.UserDef24 As RxUserDef24,
	OX.UserDef25 As RxUserDef25,
	OX.UserDef26 As RxUserDef26,
	OX.UserDef27 As RxUserDef27,
	OX.UserDef28 As RxUserDef28,
	OX.UserDef29 As RxUserDef29,
	OX.UserDef30 As RxUserDef30,
	OX.UserDef31 As RxUserDef31,
	OX.UserDef32 As RxUserDef32,
	OX.UserDef33 As RxUserDef33,
	OX.UserDef34 As RxUserDef34,
	OX.UserDef35 As RxUserDef35,
	OX.UserDef36 As RxUserDef36,
	OX.UserDef37 As RxUserDef37,
	OX.UserDef38 As RxUserDef38,
	OX.UserDef39 As RxUserDef39,
	OX.UserDef40 As RxUserDef40,
	OX.UserDef41 As RxUserDef41,
	OX.UserDef42 As RxUserDef42,
	OX.UserDef43 As RxUserDef43,
	OX.UserDef44 As RxUserDef44,
	OX.UserDef45 As RxUserDef45,
	OX.UserDef46 As RxUserDef46,
	OX.UserDef47 As RxUserDef47,
	OX.UserDef48 As RxUserDef48,
	OX.UserDef49 As RxUserDef49,
	OX.UserDef50 As RxUserDef50
From
	OeOrderPoNumAssoc As OP With (NoLock)
		Join
	OeOrderShipmentAssoc As OSA With (NoLock)
		On OP.OrderId = OSA.OrderId AND OSA.HistoryDtTm = '12/31/9999'
		Join
	OeOrderSecondaryData As OS With (NoLock)
		On OS.OrderId = OSA.OrderId AND OS.HistoryDtTm = OSA.HistoryDtTm
		Join
	ShpShipment As S With (NoLock)
		On OSA.ShipmentId = S.Id
		Join
	ShpShipmentSpecialServiceAssoc As SSSA With (NoLock)
		On SSSA.ShipmentId = S.Id
		Join
	ShpShipTypeSpecialServiceAssoc As STSSA With (NoLock) 
		On STSSA.ShipTypeCode = OS.RequestedShipTypeCode
		Join
	ShpSpecialService As SS With (NoLock)
		On SS.Code = SSSA.SpecialServiceCode
		Join
	ShpAddress As SA With (NoLock)
		On S.ShipToAddrId = SA.Id
		Join
	OeOrder As O With (NoLock)
		On OP.OrderId = O.OrderId
		Join
	OePatientCust As P With (NoLock)
		On O.PatCustId = P.PatCustId
		Left Join
	OeOrderExtUserDef As OX With (NoLock)
		On OX.OrderId = O.OrderId And OX.HistoryDtTm = O.HistoryDtTm
		Left Join
	OeGroupUserDef As OGD With (NoLock)
		On OGD.GroupNum = O.GroupNum
		Left Join
	OeOrderThirdPartyPlan As OTP With (NoLock)
		On OTP.OrderId = O.OrderId And OTP.HistoryDtTm = O.HistoryDtTm And OTP.PlanIndex = 1

GO
/****** Object:  View [dbo].[vShpODBC_ShipmentWithBasicPatientAddressAndShipType]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[vShpODBC_ShipmentWithBasicPatientAddressAndShipType]
------------------------------------------------------------------------------------------------------
-- Procedure:
--			vShpODBC_ShipmentWithBasicPatientAddressAndShipType
--			Version 5
--
-- Description:
--			Provides a view to shipping information used by an ODBC shipper to complete a package shipment.
--	
-- Parameters:
--			None
--
-- Return Values:
--			None
--
-- Comments:
--			None
------------------------------------------------------------------------------------------------------
As
Select
	S.Id As ShipmentId,
	O.OrderId,
	SA.Name,
	SA.Address1,
	SA.Address2,
	SA.City,
	SA.State,
	SA.Zip,
	SA.Phone,
	P.PhoneMobile,
	S.CarrierCode As Carrier,
	S.ServiceCode As Service,
	SS.ExtSysCode As DeliveryConfirmation, 
	P.EmailAddr,
	O.StoreNum,
	OTP.PlanCode,
	OS.CustomerPrice,
	OS.PlanPickUpDtTm As PromiseDtTm,
	OGD.UserDef01 As GroupUserDef01,
	OGD.UserDef02 As GroupUserDef02,
	OGD.UserDef03 As GroupUserDef03,
	OGD.UserDef04 As GroupUserDef04,
	OGD.UserDef05 As GroupUserDef05,
	OGD.UserDef06 As GroupUserDef06,
	OGD.UserDef07 As GroupUserDef07,
	OGD.UserDef08 As GroupUserDef08,
	OGD.UserDef09 As GroupUserDef09,
	OGD.UserDef10 As GroupUserDef10,
	OGD.UserDef11 As GroupUserDef11,
	OGD.UserDef12 As GroupUserDef12,
	OGD.UserDef13 As GroupUserDef13,
	OGD.UserDef14 As GroupUserDef14,
	OGD.UserDef15 As GroupUserDef15,
	OGD.UserDef16 As GroupUserDef16,
	OGD.UserDef17 As GroupUserDef17,
	OGD.UserDef18 As GroupUserDef18,
	OGD.UserDef19 As GroupUserDef19,
	OGD.UserDef20 As GroupUserDef20,
	OGD.UserDef21 As GroupUserDef21,
	OGD.UserDef22 As GroupUserDef22,
	OGD.UserDef23 As GroupUserDef23,
	OGD.UserDef24 As GroupUserDef24,
	OGD.UserDef25 As GroupUserDef25,
	OGD.UserDef26 As GroupUserDef26,
	OGD.UserDef27 As GroupUserDef27,
	OGD.UserDef28 As GroupUserDef28,
	OGD.UserDef29 As GroupUserDef29,
	OGD.UserDef30 As GroupUserDef30,
	OS.UserDefData1 As RxUserDef01,
	OS.UserDefData2 As RxUserDef02,
	OS.UserDefData3 As RxUserDef03,
	OS.UserDefData4 As RxUserDef04,
	OS.UserDefData5 As RxUserDef05,
	OS.UserDefData6 As RxUserDef06,
	OS.UserDefData7 As RxUserDef07,
	OS.UserDefData8 As RxUserDef08,
	OS.UserDefData9 As RxUserDef09,
	OS.UserDefData10 As RxUserDef10,
	OX.UserDef11 As RxUserDef11,
	OX.UserDef12 As RxUserDef12,
	OX.UserDef13 As RxUserDef13,
	OX.UserDef14 As RxUserDef14,
	OX.UserDef15 As RxUserDef15,
	OX.UserDef16 As RxUserDef16,
	OX.UserDef17 As RxUserDef17,
	OX.UserDef18 As RxUserDef18,
	OX.UserDef19 As RxUserDef19,
	OX.UserDef20 As RxUserDef20,
	OX.UserDef21 As RxUserDef21,
	OX.UserDef22 As RxUserDef22,
	OX.UserDef23 As RxUserDef23,
	OX.UserDef24 As RxUserDef24,
	OX.UserDef25 As RxUserDef25,
	OX.UserDef26 As RxUserDef26,
	OX.UserDef27 As RxUserDef27,
	OX.UserDef28 As RxUserDef28,
	OX.UserDef29 As RxUserDef29,
	OX.UserDef30 As RxUserDef30,
	OX.UserDef31 As RxUserDef31,
	OX.UserDef32 As RxUserDef32,
	OX.UserDef33 As RxUserDef33,
	OX.UserDef34 As RxUserDef34,
	OX.UserDef35 As RxUserDef35,
	OX.UserDef36 As RxUserDef36,
	OX.UserDef37 As RxUserDef37,
	OX.UserDef38 As RxUserDef38,
	OX.UserDef39 As RxUserDef39,
	OX.UserDef40 As RxUserDef40,
	OX.UserDef41 As RxUserDef41,
	OX.UserDef42 As RxUserDef42,
	OX.UserDef43 As RxUserDef43,
	OX.UserDef44 As RxUserDef44,
	OX.UserDef45 As RxUserDef45,
	OX.UserDef46 As RxUserDef46,
	OX.UserDef47 As RxUserDef47,
	OX.UserDef48 As RxUserDef48,
	OX.UserDef49 As RxUserDef49,
	OX.UserDef50 As RxUserDef50
From
	ShpShipment As S With (NoLock)
		Join
	OeOrderShipmentAssoc As OSA With (NoLock)
		On OSA.ShipmentId = S.Id AND OSA.HistoryDtTm = '12/31/9999'
		Join
	OeOrderSecondaryData As OS With (NoLock)
		On OS.OrderId = OSA.OrderId AND OS.HistoryDtTm = OSA.HistoryDtTm
		Join
	ShpShipmentSpecialServiceAssoc As SSSA With (NoLock)
		On SSSA.ShipmentId = S.Id
		Join
	ShpShipTypeSpecialServiceAssoc As STSSA With (NoLock) 
		On STSSA.ShipTypeCode = OS.RequestedShipTypeCode
		Join
	ShpSpecialService As SS With (NoLock)
		On SS.Code = SSSA.SpecialServiceCode
		Join
	ShpAddress As SA With (NoLock)
		On S.ShipToAddrId = SA.Id
		Join
	OeOrder As O With (NoLock)
		On OSA.OrderId = O.OrderId
		Join
	OePatientCust As P With (NoLock)
		On O.PatCustId = P.PatCustId
		Left Join
	OeOrderExtUserDef As OX With (NoLock)
		On OX.OrderId = O.OrderId And OX.HistoryDtTm = O.HistoryDtTm
		Left Join
	OeGroupUserDef As OGD With (NoLock)
		On OGD.GroupNum = O.GroupNum
		Left Join
	OeOrderThirdPartyPlan As OTP With (NoLock)
		On OTP.OrderId = O.OrderId And OTP.HistoryDtTm = O.HistoryDtTm And OTP.PlanIndex = 1

GO
/****** Object:  View [dbo].[vShpShipmentWide]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[vShpShipmentWide]
As
-----------------------------------------------------------------------------------------
-- View vShpShipmentWide                                                                 
-----------------------------------------------------------------------------------------
-- A view joining the Main (ShpShipment) and Ship-To Address (ShpAddress) Shipment tables
--   as well as the Carrier and Service names.                                           
-----------------------------------------------------------------------------------------

Select
  S.Id,
  A.Name,
  A.Address1,
  A.Address2,
  A.City,
  A.State,
  A.Zip,
  A.Phone,
  P.PhoneMobile,
  S.CarrierCode,
  S.ServiceCode,
  C.Name As CarrierName,
  V.Name As ServiceName,
  S.TrackingNum,
  S.ExtSysPkgId,
  S.WeightOzActual,
  S.WeightOzBilled,
  S.ShippingCharge,
  S.DeclaredValue,
  S.ShipDtTm
From
  OeOrder As O With (NoLock)
    Left Join
  OeOrderShipmentAssoc As OSA With (NoLock)
    On O.OrderId = OSA.OrderId AND OSA.HistoryDtTm = O.HistoryDtTm
    Left Join
  ShpShipment As S With (NoLock)
  On S.Id = OSA.ShipmentId 
    Left Join
  ShpAddress As A With (NoLock)
     On A.Id = S.ShipToAddrId
     Left Join
  ShpCarrier As C With (NoLock)
     On C.Code = S.CarrierCode
     Left Join
  ShpService As V With (NoLock)
     On C.Code = V.CarrierCode And V.Code = S.ServiceCode
     Left Join
  OePatientCust As P With (NoLock)
    On O.PatCustId = P.PatCustId

GO
/****** Object:  View [dbo].[vSysStat]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vSysStat]
As
--===================================================================================================
-- View vSysStat
--===================================================================================================
-- A view joining the Main System Stat table (SysStat) and its (ID/Name) Reference tables,
--   including the Component, Category, Stat Names rather than their (unintelligent) IDs.
--===================================================================================================
Select
	C.Name As ComponentName,
	G.Name As CategoryName,
	T.Name As StatName,
	S.Value
From
	SysStat S With (NoLock)
		Join
	SysStatComponent C  With (NoLock)
		On C.Id = S.ComponentId
		Join
	SysStatCategory G  With (NoLock)
		On G.Id = S.CategoryId
		Join
	SysStatStat T With (NoLock)
		On T.Id = S.StatId
GO
/****** Object:  View [dbo].[vTcdStatusTrail]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   View [dbo].[vTcdStatusTrail]
As
/*
Object Type:
   View

Object Name:
   vTcdStatusTrail

Description:
   A read-only (no lock) view combining the rows in tables TcdStatusTrail_IntId & TcdStatusTrail.

Comments:
   Table TcdStatusTrail_IntId will only exist for a system that lived before Fulfillment Schema v17.13.01.
   It is the renamed old TcdStatusTrail table with the integer Id column.
   In such a system, this table contains all TCD status trail content up to the upgrade through Fulfillment Schema v17.13.01.
   Current TCD status trail events are logged to table TcdStatusTrail.
   Therefore, in a system created at or beyond Fulfillment Schema v17.13.01, this view is simply a select on table TcdStatusTrail.

   Read access (e.g., NEXiA reports) uses this view so that in systems that lived before NEXiA Schema 17.13.01 will access data logged in
     both the old (TcdStatusTrail_IntId) and new/revised (TcdStatusTrail) tables.
*/
Select * From TcdStatusTrail With (NoLock)
Union
Select * From TcdStatusTrail_IntId With (NoLock)
GO
/****** Object:  View [SmartShelf].[vEvtErrorLog]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   View [SmartShelf].[vEvtErrorLog]
As
   Select
        [Id] = L.Id
      , [DtTm] = L.DtTm
      , [Event] = E.[Name]
      , [Number] = L.Number
      , [Message] = L.[Message]
      , [Source] = L.[Source]
      , [Computer] = C.[Name]
      , [Executable] = X.[Name]
      , [Component] = M.[Name]
      , [Routine] = R.[Name]
   From SmartShelf.EvtErrorLog As L With (NoLock)
   Inner Join SmartShelf.EvtEvent As E With (NoLock)
      On E.Id = L.EventId
   Inner Join SmartShelf.EvtComputer As C With (NoLock)
      On C.Id = L.ComputerId
   Inner Join SmartShelf.EvtExecutable As X With (NoLock)
      On X.Id = L.ExecutableId
   Inner Join SmartShelf.EvtComponent As M With (NoLock)
      On M.Id = L.ComponentId
   Inner Join SmartShelf.EvtRoutine As R With (NoLock)
      On R.Id = L.RoutineId

GO
/****** Object:  View [SmartShelf].[vEvtEventLog]    Script Date: 4/5/2026 8:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   View [SmartShelf].[vEvtEventLog]
As
   Select [Id] = L.Id
        , [DtTm] = L.DtTm
        , [Event] = E.Name
        , [Process] = L.[Process]
        , [UnitId] = L.UnitId
        , [Name] = U.[Name]
        , [IpAddr] = U.IpAddr
        , [PortNum] = U.PortNum
        , [ChannelNum] = U.ChannelNum
        , [LocId] = L.LocId
        , [Notes] = L.Notes
        , [MiscKey01] = L.MiscKey01
        , [MiscKey02] = L.MiscKey02
        , [Computer] = C.Name
        , [Executable] = X.Name
        , [Component] = M.Name
        , [Routine] = R.Name
   From SmartShelf.EvtEventLog As L With (NoLock)
   Inner Join SmartShelf.EvtEvent As E With (NoLock)
      On E.Id = L.EventId
   Left Join SmartShelf.Unit As U With (NoLock)
      On U.Id = L.UnitId 
   Inner Join SmartShelf.EvtComputer As C With (NoLock)
      On C.Id = L.ComputerId
   Inner Join SmartShelf.EvtExecutable As X With (NoLock)
      On X.Id = L.ExecutableId
   Inner Join SmartShelf.EvtComponent As M With (NoLock)
      On M.Id = L.ComponentId
   Inner Join SmartShelf.EvtRoutine As R With (NoLock)
      On R.Id = L.RoutineId

GO
