SiteName,ServerName,DatabaseName,OriginalSql,RefactoredSql
Site_A_MFC01,mfc01-sql\PROD,PharmAssist,"EXEC dbo.bgwk_GetListOfImages","SELECT @MaxImages = CONVERT(int,[Value]) FROM vCfgSystemParamVal WITH (NOLOCK) WHERE Section='Operation' AND Parameter='MaxNumberOfImagesToPullInASingleRunFromBgWk'; SELECT i.id, i.contentcode INTO #q FROM vImgImage i WITH (NOLOCK) WHERE i.ImageData IS NOT NULL AND (i.IsMovedToFile IS NULL OR i.IsMovedToFile <> 1) AND i.ArchivedDtTm IS NULL; CREATE CLUSTERED INDEX byQIId ON #q(id); SELECT TOP(@MaxImages) id, contentcode FROM #q qi WHERE EXISTS (SELECT 1 FROM dbo.ImgRxImgAssoc ir WITH (NOLOCK) INNER JOIN dbo.oeorderhistory oh WITH (NOLOCK) ON ir.OrderId=oh.OrderId WHERE ir.ImgId=qi.id AND oh.orderstatus='Shipped') OR EXISTS (SELECT 1 FROM ImgCanImgAssoc ic WITH (NOLOCK) INNER JOIN CanCanister c WITH (NOLOCK) ON ic.CanisterSn=c.CanisterSn WHERE ic.ImgId=qi.Id AND c.status='Verified'); DROP TABLE #q;"
Site_B_MFC02,mfc02-sql\PROD,PharmAssist,"EXEC dbo.bgwk_GetListOfImages","-- paste refactored T-SQL here, same as above or per-site variant"
